################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/GPSCommunication/v14
/Client/bin/Debug
/Client/obj/Debug
/ReadingRequest/bin/
/ReadingRequest/obj
/Server/obj
/Server/bin/
/.vs
/Client/obj/
